# .env.example
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

VELOCI_AUTH_DB=veloci_auth
VELOCI_AUTH_DB_USER=veloci_auth_user
VELOCI_AUTH_DB_PASSWORD=changeme_auth

VELOCI_APP_DB=veloci_app
VELOCI_APP_DB_USER=veloci_app_user
VELOCI_APP_DB_PASSWORD=changeme_app

RABBITMQ_USER=veloci
RABBITMQ_PASSWORD=changeme
